<h2>Organising Committee</h2>

FMAS is organised by:

<div class="w3-cell-row">
  <div class="w3-container w3-cell  w3-half w3-mobile">
    <p>{% include ext_link.html text="Dr Matt Luckcuck" link="https://orcid.org/0000-0002-6444-9312" %} University of Nottingham, UK
    </p>
  </div>
  <div class="w3-container w3-cell  w3-half w3-mobile">
    <p>{% include ext_link.html text="Dr Marie Farrell" link="https://orcid.org/0000-0001-7708-3877" %} University of Manchester, UK</p>
  </div>  
</div>  
<div class="w3-cell-row">
  <div class="w3-container w3-cell  w3-half w3-mobile">
    <p>{% include ext_link.html text="Jun.-Prof. Dr Maike Schwammberger" link="https://orcid.org/0000-0002-3344-6282" %} Karlsruhe Institute of Technology, Germany</p>
  </div>
  <div class="w3-container w3-cell w3-half w3-mobile">
    <p>{% include ext_link.html text="Dr Mario Gleirscher" link="https://orcid.org/0000-0002-9445-6863" %} University of Bremen, Germany
    </p>
  </div>  
</div>
<br>
