<div>
    Post with #FMAS2025
    <ul>
        <li><i class="fa-brands fa-bluesky"></i> BlueSky: <a href="https://bsky.app/profile/fmasworkshop.bsky.social">https://bsky.app/profile/fmasworkshop.bsky.social</a></li>
        <li><i class="fa-brands fa-mastodon"></i> Mastadon: <a href="https://mastodon.acm.org/@FMASWorkshop">https://mastodon.acm.org/@FMASWorkshop</a></li>
        <li><i class="fa-brands fa-square-twitter"></i> Twitter: <a href="https://twitter.com/FMASWorkshop">https://twitter.com/FMASWorkshop</a></li>
      </ul>
    Dates:
    <ul>
        <li>Submission: {{ site.data.fmas2025.dates.submission }} <a href="https://www.timeanddate.com/time/zones/aoe">AOE</a></li>
        <li>Workshop: {{site.data.fmas2025.dates.workshop}}</li>
        <li>Notification: {{site.data.fmas2025.dates.notification}}</li>
        <li>Final Version due: {{site.data.fmas2025.dates.final_version}}</li>
        <li>Workshop:  {{site.data.fmas2025.dates.workshop}}</li>
    </ul>
    Formal Methods Europe <a href="https://www.youtube.com/@formalmethodseurope9823">YouTube:</a>
    <iframe src="https://www.youtube.com/embed/KN-Rut1yIqE" title="FMAS2024 | Prof. Daniel Kröning - Proof for Industrial Systems using Neural Certificates" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>