<div>
    <hr class="rounded">
    <!-- If the current FMAS page, don't show FMAS 20XX in sidebar. -->
     <!-- Change the string to the current workshop's acronym.  -->
    {% if page.acronym == "FMAS 2025" %}

    {% else %}
        <div class="thisYearBtn"><a href="/FMAS2025">FMAS 2025:</a></div>
    {% endif %}
    Dates:
    <ul>
        <li>Submission: {{ site.data.fmas2025.dates.submission }} <a href="https://www.timeanddate.com/time/zones/aoe">AOE</a></li>
        <li>Workshop: {{site.data.fmas2025.dates.workshop}}</li>
        <li>Notification: {{site.data.fmas2025.dates.notification}}</li>
        <li>Final Version due: {{site.data.fmas2025.dates.final_version}}</li>
        <li>Workshop:  {{site.data.fmas2025.dates.workshop}}</li>
    </ul>
    <!--
    <div class="actions">
        <a class="actionBtn" href="http://">REGISTER</a>
        <a class="actionBtn" href="http://">SUBMIT</a>
    </div>
    -->
<a href="https://www.linkedin.com/groups/10019224?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_recent_activity_content_view%3B8CiQhlSfSEmbeMFQo5X2xQ%3D%3D&lici=is1Ca%2BsV222Wg2JJ37bH1w%3D%3D">
<div class="linkedin">
    <img alt="FMAS Workshop Logo" style="max-height: 2.75em; float: left;" src="{{site.logos}}/fmas_linkedIn.jpg">
    <p>Join the LinkedIn Group</p>
</div>
</a>

    Post with #FMAS2025
    <ul>
        <li><i class="fa-brands fa-bluesky"></i> BlueSky: <a href="https://bsky.app/profile/fmasworkshop.bsky.social">https://bsky.app/profile/fmasworkshop.bsky.social</a></li>
        <li><i class="fa-brands fa-mastodon"></i> Mastadon: <a href="https://mastodon.acm.org/@FMASWorkshop">https://mastodon.acm.org/@FMASWorkshop</a></li>
        <li><i class="fa-brands fa-square-twitter"></i> Twitter: <a href="https://twitter.com/FMASWorkshop">https://twitter.com/FMASWorkshop</a></li>
      </ul>
    
    Formal Methods Europe <a href="https://www.youtube.com/@formalmethodseurope9823"> <i class="fa-brands fa-youtube"></i> YouTube:</a>
    <iframe src="https://www.youtube.com/embed/KN-Rut1yIqE" title="FMAS2024 | Prof. Daniel Kröning - Proof for Industrial Systems using Neural Certificates" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>